<style type="text/css">
  .test {
    margin-top: 1rem;
    background_color: blue;
    color: red;
  }

  @media screen and (min-width: 750px) {
    .test {
    color:red;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="test">

  <h1>
    Hello i am text 
  </h1>